body {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
}

div {
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    margin-bottom: 0px;
    margin-top: -5px;
    padding: 0;
}

div img {
    display: inline-block;
    border-radius: 50%;
    border: 15px solid #444444;
    margin: 20px;
    width: 250px;
}